<h3>{{ object.identifier }}</h3>

Count: {{ object.species_set.count }}

<ul>
{% for species in object.species_set.all %}
<li><a href="{% url 'species:species_detail' species.identifier %}">{{ species.identifier }}</a></li>
{% endfor %}
</ul>

<div>
<h5>Attacking</h5>
Deals:
<ul>
{% for damage in object.effective %}
<li>{{ damage.factor }}% to <a href="{% url 'elements:element_detail' damage.target.identifier %}">{{ damage.target.identifier }}</a></li>
{% endfor %}
</ul>

Bad against:
<ul>
{% for target in object.resisted %}
<li>{{ target.factor }}% from <a href="{% url 'elements:element_detail' target.damage.identifier %}">{{ target.target.identifier }}</a></li>
{% endfor %}
</ul>
</div>

<div>
<h5>Defending</h5>
Resists:
<ul>
{% for damage in object.resistant %}
<li>{{ damage.factor }}% from <a href="{% url 'elements:element_detail' damage.target.identifier %}">{{ damage.damage.identifier }}</a></li>
{% endfor %}
</ul>

Takes:
<ul>
{% for target in object.weak_against %}
<li>{{ target.factor }}% from <a href="{% url 'elements:element_detail' target.damage.identifier %}">{{ target.damage.identifier }}</a></li>
{% endfor %}
</ul>
</div>
