<h3>{{ object.identifier }}</h3>

Number: {{ object.pokedex }}

<h5>Types</h5>
<ul>
{% for element in object.types.all %}
<li><a href="{% url 'elements:element_detail' element.identifier %}">{{ element.identifier }}</a></li>
{% endfor %}
</ul>

Weak to:
<ul>
	{% if object.single_type %}
		{% for dd in object.single_damage %}
			<li><a href="{% url 'elements:element_detail' dd.damage.identifier %}">{{ dd.damage.identifier }}</a></li>
		{% endfor %}
	{% else %}
		{% for dd in object.double_damage %}
			<li><a href="{% url 'elements:element_detail' dd.damage.identifier %}"><strong>{{ dd.damage.identifier }}</strong></a></li>
			<ul>
			{% for effective in dd.damage.species_set.all %}
				<li><a href="{% url 'species:species_detail' effective.identifier %}">{{ effective.identifier }}</a></li>
			{% endfor %}
			</ul>
		{% endfor %}
		{% for dd in object.single_damage %}
		{% if  dd not in object.double_damage %}
			<li><a href="{% url 'elements:element_detail' dd.damage.identifier %}">{{ dd.damage.identifier }}</a></li>
		{% endif %}
		{% endfor %}
	{% endif %}
</ul>
